@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --eerie-black: #212121ff;
  --jet: #302f2fff;
  --platinum: #e4e4e5ff;
  --timberwolf: #d3d3d4ff;
  --davys-gray: #5f5d5aff;

  --gradient-top: linear-gradient(
    0deg,
    #212121ff,
    #302f2fff,
    #e4e4e5ff,
    #d3d3d4ff,
    #5f5d5aff
  );
  --gradient-right: linear-gradient(
    90deg,
    #212121ff,
    #302f2fff,
    #e4e4e5ff,
    #d3d3d4ff,
    #5f5d5aff
  );
  --gradient-bottom: linear-gradient(
    180deg,
    #212121ff,
    #302f2fff,
    #e4e4e5ff,
    #d3d3d4ff,
    #5f5d5aff
  );
  --gradient-left: linear-gradient(
    270deg,
    #212121ff,
    #302f2fff,
    #e4e4e5ff,
    #d3d3d4ff,
    #5f5d5aff
  );
  --gradient-top-right: linear-gradient(
    45deg,
    #212121ff,
    #302f2fff,
    #e4e4e5ff,
    #d3d3d4ff,
    #5f5d5aff
  );
  --gradient-bottom-right: linear-gradient(
    135deg,
    #212121ff,
    #302f2fff,
    #e4e4e5ff,
    #d3d3d4ff,
    #5f5d5aff
  );
  --gradient-top-left: linear-gradient(
    225deg,
    #212121ff,
    #302f2fff,
    #e4e4e5ff,
    #d3d3d4ff,
    #5f5d5aff
  );
  --gradient-bottom-left: linear-gradient(
    315deg,
    #212121ff,
    #302f2fff,
    #e4e4e5ff,
    #d3d3d4ff,
    #5f5d5aff
  );
  --gradient-radial: radial-gradient(
    #212121ff,
    #302f2fff,
    #e4e4e5ff,
    #d3d3d4ff,
    #5f5d5aff
  );
}
